body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: #133976;
}

:root {
    --primary-color:#DDE7F5;
    --secondary-color:#133976;
    --background:#133976;
    --background-ligthblue:#DDE7F5;
    --background-input: #FFFCF8;
}

h1 {
    color: var(--primary-color);
    margin: 0;
    padding-top: 32px;
    padding-bottom: 38px;
    margin-left: 62px;
    font-size: 28px ;

}

main {
    background-color: var(--background);
    height: calc(100vh - 129px);
    overflow: auto;
}

footer {
    text-align: center;
    color: var(secondary-color);
    background-color: var(--background-ligthblue);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-color);
}

footer p a {
    text-decoration: none;
    color: inherit;
}

.btn-favorito {
    border: none;
    background-color: var(--background-ligthblue);
    cursor: pointer;
}

.tag-element.normal {
    background-color: #898F95;
}

.tag-element.fire {
    background-color: #FF7B19;
}

.tag-element.water {
    background-color: #3F90E9;
}

.tag-element.electric {
    background-color: #FDD318;
}

.tag-element.grass {
    background-color: #55C849;
}

.tag-element.ice {
    background-color: #98E0D5;
}

.tag-element.fighting {
    background-color: #E62C64;
}

.tag-element.poison {
    background-color: #B83EDF;
}

.tag-element.ground {
    background-color: #F27330;
}

.tag-element.flying {
    background-color: #82AFFD;
}

.tag-element.psychic {
    background-color: #FF6A73;
}

.tag-element.bug {
    background-color: #99D421;
}

.tag-element.rock {
    background-color: #C4B68D;
}

.tag-element.ghost {
    background-color: #556BAB;
}

.tag-element.dragon {
    background-color: #0E67B5;
}

.tag-element.dark {
    background-color: #585263;
}

.tag-element.steel {
    background-color: #5392AA;
}

.tag-element.fairy {
    background-color: #F075E8;
}